* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

div {
  width: 100%;
  margin: 2rem;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 1.5rem;
}

.btn {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  transition: all .2s;
  border: none;
  cursor: pointer;
  background: greenyellow;
  margin-left: 3rem;
}

.btn--list {
  color: #fff;
  background: orangered;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(#000, .2);
}

.btn:active, .btn:focus{
  transform: translateY(0.3rem);
  box-shadow: 0 .5rem 1rem rgba(#000, .2);
}

.btn--like {
  background: steelblue;
}
